{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Modifier l'utilisateur</h1>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-user-edit me-1"></i>
                Modifier l'utilisateur
            </div>
            <div class="card-body">
                {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        </div>
    </div>
{% endblock %} 